<!-- Footer Start -->
<div class="container-fluid bg-dark text-white-50 footer pt-5 mt-5">
    <div class="container py-5">
        <div class="row g-5">

            <!-- Contacto -->
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Contacto</h3>
                <p class="mb-2">
                    <i class="fa fa-map-marker-alt me-3"></i>Calle Mariano Campos 193, San Juan de Miraflores, Lima – Perú
                </p>
                <p class="mb-2">
                    <i class="fa fa-phone-alt me-3"></i>+51 986 973 753
                </p>
                <p class="mb-2">
                    <i class="fa fa-envelope me-3"></i>luiss.a@hotmail.com
                </p>
            </div>

            <!-- Secciones -->
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Secciones</h3>
                <a class="btn btn-link text-white-50" href="servicio_tecnico.html">Servicio Técnico PC</a>
                <a class="btn btn-link text-white-50" href="accesorios_limpieza.html">Accesorios & Limpieza</a>
                <a class="btn btn-link text-white-50" href="impresiones_tipeos.html">Impresiones & Tipeos</a>
                <a class="btn btn-link text-white-50" href="impresiones_tipeos.html">Catálogos web</a>
                <a class="btn btn-link text-white-50" href="mini_automatizaciones.html">Mini Automatizaciones</a>
                <a class="btn btn-link text-white-50" href="contacto.html">Contacto</a>
            </div>

            <!-- Beneficios -->
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">En qué te ayudo</h3>
                <p class="mb-1">• PC más rápida y limpia</p>
                <p class="mb-1">• Setup gamer más ordenado</p>
                <p class="mb-1">• Documentos listos para entregar</p>
                <p class="mb-1">• Menos trabajo manual en Excel/SQL</p>
            </div>

            <!-- Redes -->
            <div class="col-lg-3 col-md-6">
                <h3 class="text-white mb-4">Redes Sociales</h3>
                <div class="d-flex pt-2">
                    <a class="btn btn-outline-light btn-social" href="https://www.facebook.com/luiss12.a/" target="_blank">
                        <i class="fab fa-facebook-f"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social" href="https://www.instagram.com/luiss12.a/" target="_blank">
                        <i class="fab fa-instagram"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social" href="https://wa.me/51986973753" target="_blank">
                        <i class="fab fa-whatsapp"></i>
                    </a>
                    <a class="btn btn-outline-light btn-social" href="https://github.com/luissxd" target="_blank">
                        <i class="fab fa-github"></i>
                    </a>
                </div>
            </div>

        </div>
    </div>

    <!-- Créditos -->
    <div class="container">
        <div class="copyright">
            <div class="row">

                <div class="col-md-6 text-center text-md-start mb-3 mb-md-0">
                    &copy; <a class="border-bottom" href="index.html">LuisTech</a>, Todos los derechos reservados.
                </div>

                <div class="col-md-6 text-center text-md-end">
                    <div class="footer-menu">
                        <a href="index.html">Inicio</a>
                        <a href="contacto.html">Ayuda</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
<!-- Footer End -->
